.s0 {
    cursor: default;
}

.s1 {
    height: 60px;
    width: 60px;
}
.s2 {
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}
.s3 {
    font-size: x-small;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-collapse: collapse;
}
.s4 {
    border: 1px solid black;
    padding: 0 0 0 0;
}